*{
    margin: 0;
    padding: 0;
}
.header{
    height: 60px;
    width: 100%;
}
.container1{
    background-color: aqua;
    position: fixed;
    font-family: cursive;
    height: 60px;
    width: 100%;
    text-align: center;
}
#entry{
    width: 5pc;
    margin: 1pc;
    padding: 5px;
}
.container1 h1{
    margin: 10px;
}
.body{
    display: flex;
    height: 50pc;
}
.result{
width: 50%;
background-color: azure;
}
.form{
    width: 50%;
    background-color: antiquewhite;
}
.form h1{
    text-align: center;
}
.body input{
    padding: 5px;
}
.cont6{
    margin: 6pc;
}
.cont7{
    padding: 1pc;
    margin: 5pc;
}
.result h1{
    text-align: center;
}